<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AuditoriaParlamentar.Classes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AuditoriaParlamentar.Classes.Properties.Settings>
            <setting name="AuditoriaParlamentar_Classes_CamaraWS_Deputados"
                serializeAs="String">
                <value>http://www.camara.gov.br/SitCamaraWS/Deputados.asmx</value>
            </setting>
        </AuditoriaParlamentar.Classes.Properties.Settings>
    </applicationSettings>
</configuration>